@import './variables.css';
@import './globals.css';

@import './components/navbar.css';
@import './components/header.css';
@import './components/about.css';
@import './components/skills.css';
@import './components/projects.css';
@import './components/footer.css';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
  color: #fff; 
}

footer {
  transition: background 0.2s linear;
  background-color: #fafafa; /* Cor de fundo padrão */
  color: #333; /* Cor do texto no rodapé */
}

.dark footer {
  background-color: #292c35; /* Cor de fundo no tema escuro */
  color: #fff; /* Cor do texto no rodapé no tema escuro */
}

.skills {
  transition: background 0.2s linear;
  background-color: #fafafa; /* Cor de fundo padrão */
  color: #333; /* Cor do texto no rodapé */
}

.dark .skills {
  background-color: #292c35; /* Cor de fundo no tema escuro */
  color: #fff; /* Cor do texto no rodapé no tema escuro */
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}


.label .ball {
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
/* Estilos para a seção de experiência */
.icon {
  cursor: pointer;
  height: 2rem;
}

.centro {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.experiencia {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.experiencia2 {
  text-align: center;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: 0.1rem solid rgb(163, 163, 163);
  text-align: center;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  justify-self: center;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

/* Estilos para a seção de projetos */
.projects {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects__content {
  text-align: left;
  margin-bottom: 40px;
}

.projects__content p {
  margin-top: 0;
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projects li {
  margin-bottom: 40px;
}

.projects__info {
  max-width: 100%;
}

/* Estilos para as seções de P-techs */
#ptechs, #ptechs2, #ptechs3 {
  text-align: center; /* Alinha o conteúdo internamente */
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: calc(33% - 20px); /* Definir largura para 1/3 da tela com margem à direita */
  margin-right: 20px; /* Adicionada margem à direita para separar as seções */
  display: inline-block; /* Alterado para exibir como blocos inline */
  vertical-align: top; /* Alinhar os blocos ao topo */
  margin-bottom: 20px; /* Adicionada margem inferior para separar as seções */

  /* Media query para ajustar para telas menores */
  @media screen and (max-width: 768px) {
    width: calc(50% - 20px); /* Alterar a largura para ocupar metade da tela */
    margin: 0 auto; /* Centralizar os elementos */
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 20px); /* Alterar a largura para ocupar toda a largura da tela */
    margin: 0 auto; /* Centralizar os elementos */
    margin-right: 0; /* Remover a margem direita para evitar quebrar linha */
  }
}
.ptechs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Ajuste para centralizar o conteúdo da seção P-techs */
#ptechsA {
  max-width: 600px; /* Define uma largura máxima */
  text-align: center; /* Centraliza o conteúdo interno */
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
/* Centralizar o contêiner principal */




