/* Ajuste do fundo */
.bgLight { background-color: #fef0c3; }
.bgDark { background: linear-gradient(to top, #5d7548, #bdc1ed); }

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #c3c3c395; border-radius: 10px; }
::-webkit-scrollbar-thumb { background-color: #787878; border-radius: 5px; border: 1px solid #ffffff; }
::-webkit-scrollbar-thumb:hover { background-color: #0e2135; }

/* Estilo da navbar transparente */
.navbar { color: #000; margin-bottom: 20px; background-color: rgba(0, 0, 0, 0.29); }
.navbar .nav-link { color: #ffffff !important; transition: all 0.2s; }
.navbar .nav-link:hover { opacity: 0.4; }

/* Espaçamento do conteúdo principal */
.main-content { padding: 100px 0; text-align: center; margin-top: 20px; }
.main-content .container { padding: 5px; margin-bottom: 50px; }
.main-content .container .carousel .carousel-inner .carousel-item img { margin-bottom: 50px; }

/* Estilos para o carrossel */
.carousel-control-prev, .carousel-control-next {
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 200px;
  margin-top: 10%;
  border-radius: 15px;
}
.project-description { margin: 0px 5px; position: relative; right: 2%; }
.project-description p { background-color: rgba(0, 0, 0, 0.293); padding: 20px; text-align: center; border-radius: 20px; }
.project-description h3 { color: rgb(0, 0, 0); }

/* Estilo da imagem em destaque */
.feature-img { max-width: 400px; height: auto; border-radius: 15px; object-fit: cover; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #fff; padding: 10px; margin: 0 auto; display: block; }

/* Estilo para os textos */
h3#projectTitle {
  font-family: 'DM Sans', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #191919;
  text-align: center;
  margin-top: 20px;
}

p#projectDetails {
  font-family: 'DM Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.293);
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
  color: #f0f0f0;
  line-height: 1.8;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

/* Responsividade */
@media (max-width: 768px) {
  .carousel-item img { max-width: 80%; }
  .carousel-control-prev, .carousel-control-next { width: 30px; height: 100px; margin-top: 13%; }
}
