header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header__left {
  max-width: 62rem;
  flex: 1;
}

header .header__left p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}

header .header__right .header__image {
  position: relative;
  line-height: 0;
  margin-top: 30%;
}

header .header__right .header__image::after {
  content: '';
  display: block;
  width: calc(100% + 3rem); /* Adicionei uma margem extra para compensar o deslocamento do pseudo-elemento */
  height: 100%;
  border: 1px solid var(--tertiary-color);
  position: absolute;
  top: 0;
  right: -1.5rem;
  border-radius: 0.5rem;
  z-index: -1;
}

header .header__right .header__image .Gaspare {
  margin-top: 5%; /* Aumentei a distância do topo */
  width: 100%; /* Ajustei a largura para 100% */
  border-radius: 40px;
  max-width: 40rem; /* Aumentei o tamanho máximo da imagem */
}

header .header__right .header__image .background {
  position: absolute;
  top: 1.8%; /* Corrigi a vírgula para um ponto para a posição correta */
  right: -2.5rem;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }
}
